<h1><%= game_name %></h1>

<form action="/comments/<%= game_name %>" method="POST">

    <label for="">Write Your Comment Here</label>
    <input type="text" name="comment">

    <button>Post</button>

</form>