<h1>Create new post</h1>

<form action="/games" method="POST">
    <label>Name</label>
    <input name="game_name" type="text" >

    <label>Image URL:</label>
    <input name="game_image_url" type="text">

    <label>Date of Post</label>
    <input name="date_of_post" type="text">

    <button>Create Post</button>
</form>