<h1>Create new post</h1>

<form action="/games" method="POST">
    <label>Name</label>
    <input name="game_name" type="text" >

    <label>Image URL:</label>
    <input name="game_image_url" type="text">

    
    <input name="date_of_post" type="hidden" value="<%=Time.now.strftime("%d-%m-%y")%>">
    
    <button>Create Post</button>
</form>

<br>
<br>
<br>
<a href="/games"><button>Cancel</button></a>