<style>
main{
    margin-top: 100px;
}

</style>

<header>
    <h1>Create new post</h1>
</header>
<main>
    <form action="/games" method="POST">
        <label>Name</label>
        <input name="game_name" type="text" >

        <label>Image URL:</label>
        <input name="game_image_url" type="text">
        <button>Create Post</button>
    </form>

    <br>
    <br>
    <br>
    <a href="/games"><button>Cancel</button></a>
</main>